    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="theme-color" content="#ffffff">
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.name }}">
    <meta property="og:description" content="جستجو و اشتراک دیدگاه‌ها در رابطه با استخدام، تجربه کاری، مزایا و معایب در شرکت های ایرانی" />
    {% endif %}
    <meta property="og:url" content="https://tajrobe.github.io/" />
    <meta name="author" content="{{ site.name }}" />
    <meta property="og:site_name" content="اشتراک ‌گذاری تجربه‌ی کاری با همه!" />
    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="180" />
    <meta property="og:image" content="https://tajrobe.github.io/assets/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="تجربه‌های کاری">
    <meta name="application-name" content="تجربه‌های کاری">
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
